<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to provide a secure and convenient way to log in to your account.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложение использует ваше местоположение для отображения концертных площадок и мероприятий на карте.</string>
	<key>NSLocationUsageDescription</key>
	<string>Приложение использует геолокацию для отображения событий и контактов на карте.</string>
	
	<!-- Добавленные разрешения для работы с камерой и фотопленкой -->
	<key>NSCameraUsageDescription</key>
	<string>Для сканирования и анализа чеков требуется доступ к камере.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Для загрузки и анализа изображений чеков требуется доступ к фотопленке.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Для сохранения отсканированных чеков в фотопленке требуется разрешение на добавление фотографий.</string>
</dict>
</plist>